* {
    margin: 0;
    font-family: sans-serif;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.header {
    width: 1000px;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    display: flex;
    width: 420px;
    justify-content: space-between;
    color: #e5e7eb;
    font-size: 18px;
}

/* Banner */

.banner-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    height: 400px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.banner-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.banner-title-subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 15px;
}

.signup-button {
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 20px;
    margin-top: 15px;
}

.banner-image {
    width: 450px;
    margin-left: 30px;
}

/* Content */

.content-container {
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: #3882f6;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}

.content-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 50px 0;
}

.content-pieces {
    display: flex;
    justify-content: space-between;
    width: 850px;
}

.content-piece {
    border: 1px solid white;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 400px;
}

.quote {
    width: 770px;
}

.quote-line {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.quote-credit {
    text-align: right;
    font-weight: bolder;
    font-size: 24px;
}

/* Signup call */

.signup-call-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.signup-call {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 54px 130px;
    width: 850px;
}

.signup-call-text {
    color: #f9faf8;
}

.signup-call-text-top {
    font-size: 22px;
    font-weight: 600;
}

.signup-call-button {
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    padding: 0px 32px;
    font-size: 18px;
    font-weight: 500;
}